<!-- main_sidebar -->
<div class="main_sidebar_area">
    <div class="ui vertical inverted menu main_sidebar" style="width: 100%;">
        <div class="item" style="text-align:center">
            <a class="ui logo icon image" href="/index" style="width: 100px;">
                <img src="/images/logo_simbol_small.png">
            </a>
            <!--a href="/index"><b>ELLUI</b></a-->
        </div>
        <div class="link item" onclick="logout();">
            <i class="sign-out left icon"></i>
            Sign out
        </div>
        <div class="item">
            <div class="header">
                <i class="globe left icon"></i>
                ICO
            </div>
            <div class="menu">
                <a class="item isDisabled" href="#">
                    Info
                </a>
                
                <a class="item isDisabled" href="#">
                    Join ICO
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="archive left icon"></i>
                Wallet
            </div>
            <div class="menu">
                <a id="menu_send" class="item" href="/wallet/send">
                    Send
                </a>
                
                <a id="menu_receive" class="item" href="/wallet/receive">
                    Receive
                </a>
                
                <a id="menu_history" class="item" href="/wallet/history">
                    History
                </a>
                
                <a id="menu_prikey" class="item" href="/wallet/prikey">
                    Private Key
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="credit card left icon"></i>
                Transfer Cash
            </div>
            <div class="menu">
                <a class="item isDisabled" href="#">
                    Pay&Go
                </a>
                
                <a class="item isDisabled" href="#">
                    MasterCard
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="exchange left icon"></i>
                Exchange
            </div>
            <div class="menu">
                <a class="item isDisabled" href="#">
                    Trade
                </a>
                
                <a class="item isDisabled" href="#">
                    Bank
                </a>
            </div>
        </div>
    </div>
</div>

<!-- semantic sidebar -->
<div class="ui sidebar inverted vertical menu mysidebar" style="font-size: 1.2em">
    <div class="item">
        <a class="ui logo icon image" href="/index" style="width: 35px; margin-right: 1em;">
            <img src="/images/logo.png">
        </a>
        <a href="/index"><b>ELLUI</b></a>
    </div>
    <div class="link item" onclick="logout();">
        <i class="sign-out left icon"></i>
        Sign out
    </div>
    <div class="item">
        <div class="header">ELLUI ICO</div>
        <div class="menu">
            <a class="item isDisabled" href="#">
                Info
            </a>
            
            <a class="item isDisabled" href="#">
                Join ICO
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Wallet</div>
        <div class="menu">
            <a id="menu_send" class="item" href="/wallet/send">
                Send
            </a>
            
            <a id="menu_receive" class="item" href="/wallet/receive">
                Receive
            </a>
            
            <a id="menu_history" class="item" href="/wallet/history">
                History
            </a>

            <a id="menu_prikey" class="item" href="/wallet/prikey">
                Private key
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Transfer Cash</div>
        <div class="menu">
            <a class="item isDisabled" href="#">
                Pay&Go
            </a>
            
            <a class="item isDisabled" href="#">
                MasterCard
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Exchange</div>
        <div class="menu">
            <a class="item isDisabled" href="#">
                Trade
            </a>
            
            <a class="item isDisabled" href="#">
                Bank
            </a>
        </div>
    </div>
</div>
